:root {
  --background-color: #ebe8e8;
  --text-color: #2d4059;
  --primary-color: #97b2bb;
  --secondary-color: #f08a5d;
  --accent-color: #d5ced0;

  --heading-font-family: "Epunda";
  --body-font-family: "Epunda";

  --padding-small: 1rem;
  --padding-medium: 2rem;
  --padding-large: 3rem;

  --margin-small: 1rem;
  --margin-medium: 2rem;
  --margin-large: 3rem;

  --border-radius: 8px;

  --box-shadow: rgba(0, 0, 0, 0.584) 0px 0px 16px;
}

html {
  font-size: 16px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: var(--text-color);
  font-family: var(--heading-font-family);
}

p,
a,
li,
span {
  font-family: var(--body-font-family);
  color: var(--text-color);
  line-height: 1.6;
}

body {
  background-color: var(--background-color);
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.img {
  width: 400px;
  height: 300px;
  max-width: 300px;
  display: block;
  object-fit: cover;
  border: 2px solid #000;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-left: 2rem;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60vh;
  color: var(--text-color);
}

.profile p {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

section {
  height: 100vh;
}

.sidebar {
  position: fixed;
  background-color: var(--primary-color);
  height: 100vh;
  width: 200px;
  font-size: 18px;
  left: 0;
  top: 0;
  border-radius: var(--border-radius);
  font-family: var(--body-font-family);
}

.sidebar p {
  color: rgb(0, 0, 0);
  padding: 10px;
  font-family: var(--body-font-family);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

main {
  width: 300px;
  margin-left: auto;
  margin-right: 20px;
  text-align: left;
}

a {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
}

.card1 {
  box-shadow: var(--box-shadow);
  padding: var(--padding-medium);
  height: 300px;
  width: 100%;
  border-radius: var(--border-radius);
  text-align: center;
}

.card1:hover {
  text-align: center;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-color);
}

.card2 {
  box-shadow: var(--box-shadow);
  padding: var(--padding-medium);
  width: 100%;
  margin-top: 30rem;
  margin-bottom: 20rem;
  border-radius: var(--border-radius);
  text-align: center;
}

.card2:hover {
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-color);
}

.card3 {
  box-shadow: var(--box-shadow);
  padding: var(--padding-medium);
  width: 100%;
  height: 250px;
  margin-bottom: 9rem;
  border-radius: var(--border-radius);
  text-align: center;
  background-color: var(--accent-color);
}

@media (max-width: 768px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
  }

  main {
    margin-left: 0;
    position: relative;
    width: 100%;
    height: auto;
  }

  body {
    flex-direction: column;
  }
}

/* Dark / Light mode */

body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #3a3838;
  color: white;
}

body.dark-mode .card1,
.card2,
.card3 {
  background-color: #ffffff;
}

/* Button position */
#toggle-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: rgb(141, 141, 141);
  color: white;
  box-shadow: #2d4059 8px 5px 20px;
}

/* Back to top button */

#backToTop {
  position: fixed;
  bottom: 4.5rem;
  left: 20px;
  z-index: 1000;
  display: none;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: rgb(141, 141, 141);
  color: white;
  box-shadow: #2d4059 8px 5px 20px;
}

/* Star Loop */
#stars {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.star {
  position: fixed;
  width: 3px;
  height: 3px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  overflow-y: hidden;
  animation: move 35s linear infinite;
}

@keyframes move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}

#name {
  font-size: 50px;
  color: #91898b;
}

#instagram-icon {
  width: 40px;
  height: 40px;
  bottom: 20px;
  border-radius: 10px;
}
